@model Skill
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>@ViewBag.v0</h2>

<div class="alert alert-danger">Toplam Yetenek Sayısı: @ViewBag.v1</div>
<div class="alert alert-success">Toplam Yetenek Puanı: @ViewBag.v2</div>
<div class="alert alert-primary">Değeri 70' den Büyük Olan Yetenek Sayısı: @ViewBag.v3</div>
<div class="alert alert-info">Yeteneklerin Ortalama Değeri: @ViewBag.v4</div>
<div class="alert alert-secondary">Toplam Deneyim Sayısı: @ViewBag.v5</div>
<div class="alert alert-warning">Alt Başlığı Developer Olanların Toplam Sayısı: @ViewBag.v6</div>
<div class="alert alert-secondary">Toplam Hizmet Sayısı: @ViewBag.v7</div>
<div class="alert alert-danger">Toplam Kategori Sayısı: @ViewBag.v8</div>
<div class="alert alert-primary">Toplam Proje Sayısı: @ViewBag.v9</div>
<div class="alert alert-success">Kategorisi FullStack Olan Toplam Proje Sayısı: @ViewBag.v10</div>

